.game-field {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .5);
  user-select: none;

  .media-medium({
    left: -@cell-size-medium / 2;
    position: relative;
  });

  .media-small({
    left: 0;
  });

  &__cell {
    position: relative;
    width: @cell-size;
    height: @cell-size;
    background-color: @cell-bg-color;
    border: @cell-border-size solid @cell-border-color;
    text-align: center;

    .media-bit-large({
      width: @cell-size-medium;
      height: @cell-size-medium;
    });

    .media-small({
      width: @cell-size-small;
      height: @cell-size-small;
    });

    &_active {
      cursor: pointer;
    }

    &_hover {
      &, &:hover {
        background-color: @cell-bg-color-hover;
      }
    }

    &_wait {
      &, &:hover {
        background-color: @cell-bg-color-wait;
      }
    }

    &_ship {
      &, &:hover {
        background-color: @cell-bg-color-ship;
      }
    }

    &_miss {
      &, &:hover {
        background-color: @cell-bg-color-miss;
      }
    }

    &_wound {
      &, &:hover {
        background-color: @cell-bg-color-wound;
      }
    }

    &_header {
      &_top {
        border-width: 0 0 @cell-border-size 0;
      }

      &_none {
        border-width: 0;
      }

      &_left {
        border-width: 0 @cell-border-size 0 0;
      }
    }
  }

  &__caption {
    text-align: center;
    margin-left: @cell-size;

    .media-bit-large({
      margin-left: @cell-size-medium;
    });

    .media-medium({
      margin-left: 0;
    });

    .media-small({
      margin-left: @cell-size-small;
    });

    &-field {
      margin-top: .3em;
      margin-bottom: .1em;
    }
    &-info {
      font-style: italic;
      margin-top: .3em;
    }
  }
}
