// base of Bootstrap
@import "vars";

@import "_/mixins";
@import "_/normalize";

// @import "_/glyphicons"; // uncomment if you need some glyphicon
@import "_/scaffolding";
@import "_/type";
@import (reference) "_/utilities";
@import (reference) "_/responsive-utilities";


// project
@wrapper-width: 60em;
@wrapper-width-narrow: 45em;
@img-path: '../img/';

@import "project/mixins";
@import "project/body";
@import "project/wrapper";
@import "project/buttons"; // TODO: rewrite from bootstrap
@import "project/forms"; // TODO: rewrite from bootstrap
@import "project/mainmenu";
@import "project/game-field";
