// = base =
@color-black: #000;
@color-white: #fff;
@color-blue: #008cba;

@body-color: @color-white;
@text-color: lighten(@color-black, 15%);
@link-color: @color-blue;
@link-color-hover: lighten(@color-blue, 15%);

@font-family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size: 15px;
@font-size-small: 12px;
@font-size-large: ceil(@font-size * 1.25);

@font-size-h1: floor((@font-size * 2.6));
@font-size-h2: floor((@font-size * 2.15));
@font-size-h3: ceil((@font-size * 1.7));
@font-size-h4: ceil((@font-size * 1.25));
@font-size-h5: @font-size;
@font-size-h6: ceil((@font-size * 0.85));

@line-height-coef: 1.4;
@line-height: floor((@font-size * @line-height-coef));

@line-height-coef-h: 1.1;

@icon-font-path: '../fonts/';
@icon-font-name: 'glyphicons-halflings-regular';
@icon-font-svg-id: 'glyphicons_halflingsregular';

// = project =
