!!! 5
html
  head
    title Морской бой
    link(rel='stylesheet', href='/css/main.css')
    link(rel='shortcut icon', href='/img/favicon/favicon-grey-64.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    if dev
      script(src='/js/vendor/require.js', data-main='/js/main.js')
      script(src='/js/config.js')
    else
      script(src='/js/vendor/require.js')
      script(src='/js/main.min.js')
      script
        require(['main']);
      script
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/offline.js', { scope: './' }).then(function(reg) {
              console.log('Registration succeeded. Scope is ' + reg.scope);
          }).catch(function(error) {
            console.log('Registration failed with ' + error);
          });
        }

  body
    #page
      .page-loader
        .page-loader__container
          .page-loader__image
      .user-panel
