!!! 5
html
  head
    title Азартный морской бой
    link(rel='stylesheet', href='/css/main.css')

    if dev
      script(src='/js/vendor/require.js', data-main='/js/main.js')
      script(src='/js/config.js')
    else
      script(src='/js/vendor/require.js')
      script(src='/js/main.min.js')

  body
    #page
