!!! 5
html
  head
    title Testing project
    link(rel='stylesheet', href='/css/qunit-1.21.0.css')
    script(src='/js/vendor/qunit-1.21.0.js')
    script(src='/js/vendor/require.js', data-main='/js/tests.js')
    script(src='/js/config.js')

  body
    h1#qunit
    h1#qunit-fixture
