!!! 5
html
  head
    title Main page
    link(rel='stylesheet', href='/css/main.css')

    if dev
      script(src='/js/vendor/require.js', data-main='/js/main.js')
      include ../assets/js/config.js
    else
      script(src='/js/vendor/require.js')
      script(src='/js/main.min.js')
